USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinChuTK]    Script Date: 14/09/2021 6:49:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ThongTinChuTK]
@SOTK NCHAR(9)
AS
BEGIN
	DECLARE @CMND NCHAR(10);
	IF EXISTS(SELECT CMND FROM TAIKHOAN WHERE SOTK = @SOTK)
	BEGIN
		SELECT @CMND=CMND FROM TAIKHOAN WHERE SOTK = @SOTK;
		IF EXISTS(SELECT 1 FROM LINK1.NGANHANG.dbo.KHACHHANG WHERE CMND = @CMND)
		BEGIN
			SELECT HOTEN, DIACHI, SOTK, TK.MACN
			FROM(	SELECT CMND, SOTK, MACN
					FROM TAIKHOAN
					WHERE SOTK = @SOTK ) TK,
				(	SELECT CMND, HOTEN=HO + ' ' + TEN, DIACHI
					FROM LINK1.NGANHANG.dbo.KHACHHANG ) KH
			WHERE KH.CMND = TK.CMND
		END
		ELSE
		BEGIN
			SELECT HOTEN, DIACHI, SOTK, TK.MACN
			FROM(	SELECT CMND, SOTK, MACN
					FROM TAIKHOAN
					WHERE SOTK = @SOTK ) TK,
				(	SELECT CMND, HOTEN=HO + ' ' + TEN, DIACHI
					FROM KHACHHANG ) KH
			WHERE KH.CMND = TK.CMND
		END
	END
	ELSE
	BEGIN
		RAISERROR('So tai khoan khong ton tai',16,1)
	END
END
